{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 24, "knowledge_revision": 50, "git_revision": "d3452062cb57665dc516ca83562e017be0776ac1", "hash": "43fcb0361048a2a6dc87d64f7cae6907", "format-version": 4, "code-base-name": "default", "filename": "backend_workspace/backend/requirements.txt", "revision_history": [{"50": "d3452062cb57665dc516ca83562e017be0776ac1"}]}